.page {
  display: flex;
  min-height: 100vh;
  background: #0c162f;
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 120px;
  gap: 50px;
}

.title {
  margin-top: 70px;
  width: 100%;
  text-align: center;
  font-size: var(--font-large);
  color: var(--default-white);
  font-weight: var(--weight-bold);
  margin-bottom: 40px;
}

.inner {
  display: flex;
  gap: 50px;
  flex-wrap: nowrap;
  justify-content: center;
}

.openButton {
  width: 100%;
  max-width: 300px;
  padding: 18px 32px;
  background-color: var(--point-blue);
  color: #ffffff;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  border-radius: 50px;
  transition: all 0.2s;
  margin-bottom: 70px;
}

.openButton:hover {
  transform: scale(1.05);
}

@media (max-width: 1210px) {
  .main {
    padding: 0 30px;
  }
  .inner {
    flex-wrap: wrap;
  }
}
