.battleModal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 70px;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.4);
  gap: 50px;
  overflow: auto;
}

.panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 540px;
}

.closeButton {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px 6px 14px;
  border: 1px solid #cccccc;
  border-radius: 14px;
  position: absolute;
  right: 70px;
  top: 70px;
  transition: all 0.2s;
}

.closeButton:hover {
  transform: scale(1.05);
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner {
  margin-top: 14px;
  border: 1px dashed #5558ff;
  border-radius: 24px;
  padding: 30px;
  background-color: var(--default-background);
}
.controlBtnWrapper {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.controlButton {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--point-green);
  padding: 6px;
}

.controlButton span {
  opacity: 0;
  display: none;
  position: absolute;
  color: #cccccc;
  font-size: 13px;
  line-height: 12px;
  padding: 0 6px;
}

.controlButton:hover {
  width: auto;
}

.controlButton:hover span {
  position: static;
  display: inline-block;
  opacity: 1;
}

.noticeArea {
  border: 1px dashed var(--default-border);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  margin-top: 14px;
  font-size: var(--font-maxMicro);
  color: var(--default-gray);
}
.profileArea {
  background-color: #19243f;
  border-radius: 18px;
  padding: 18px 30px 18px 18px;
  display: flex;
  gap: 20px;
}
.profileImage {
  width: 80px;
  aspect-ratio: 3 / 4;
  background-color: #444444;
  border-radius: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}
.profileImageSrc {
  object-fit: contain;
}
.profileLevel {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: var(--font-micro);
  font-weight: var(--weight-bold);
  color: #ffffff;
  z-index: 1;
}
.profileName {
  padding-bottom: 8px;
  font-size: var(--font-micro);
  font-weight: var(--weight-bold);
  color: #ffffff;
  z-index: 1;
}

.profileArea .specArea {
  display: flex;
  padding-top: 12px;
  flex: 1;
  justify-content: space-between;
}

.statsBox {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.indexTitle {
  font-size: var(--font-small);
  line-height: var(--lineHeight-small);
  font-weight: var(--weight-regular);
  color: var(--default-gray);
}
.valueWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.value {
  font-size: var(--font-regular);
  line-height: var(--lineHeight-medium);
  font-weight: var(--weight-bold);
  color: var(--point-green);
}

.value.desc {
  color: var(--default-white);
}

.profileArea .plusValue {
  font-size: var(--font-medium);
  line-height: var(--lineHeight-medium);
  font-weight: var(--weight-bold);
  color: var(--point-green);
}

.enforceArea {
  margin-top: 24px;
  display: flex;
  gap: 12px;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.value.input {
  margin-top: 6px;
  border: 1px solid var(--default-border);
  background-color: var(--default-background);
  height: 50px;
  border-radius: 14px;
  padding: 0 12px;
}

.enforceArea .statsBox {
  min-width: 0;
}

.enforceArea .statsBox .subDesc {
  font-size: var(--font-maxMicro);
  line-height: 12px;
  font-weight: var(--weight-regular);
  color: var(--default-gray);
}

.enforceArea .statsBox:nth-child(1) {
  flex: 0.7;
}

.enforceArea .statsBox:nth-child(2) {
  flex: 0.7;
}

.optionsWrapper {
  margin-top: 24px;
  display: flex;
  gap: 12px;
}

.optionsWrapper .optionButton {
  border: 1px solid var(--default-gray);
  color: var(--default-gray);
  padding: 10px 0;
  width: 110px;
  border-radius: 14px;
}

.optionsWrapper .optionButton.on {
  border: 1px solid var(--point-green);
  color: var(--point-green);
}

/* 개발자노트 */
.noteModal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.noteInner {
  height: 80%;
  width: 100%;
  max-width: 680px;
  background-color: #f8f8f8;
  border-radius: 24px;
  padding: 24px;
  overflow: auto;
}
.noteCloseButton {
  color: #444444;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px 6px 14px;
  border: 1px solid #707070;
  border-radius: 14px;
  transition: all 0.2s;
}
.noteInner .title {
  margin: 12px 0;
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.noteInner .desc {
  font-size: var(--font-micro);
  font-weight: var(--weight-medium);
  color: #707070;
  padding: 16px;
  background-color: #eeeeee;
  border-radius: 12px;
}

.noteInner .list {
  margin-top: 12px;
}
.noteInner .listTitle {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin-top: 12px;
}

.noteInner li.item {
  margin-left: 6px;
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
}

.noteInner li .ex {
  display: block;
  font-size: var(--font-maxMicro);
  font-weight: var(--weight-regular);
  padding-left: 12px;
  margin-bottom: 4px;
}

@media (max-width: 1420px) {
  .battleModal {
    padding: 40px 20px;
    flex-direction: column;
    align-items: flex-end;
  }
  .closeButton {
    position: static;
    width: 98px;
  }
  .panel {
    width: 100%;
    max-width: unset;
  }
}

@media (max-width: 1210px) {
  .battleModal {
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .profileImage {
    width: 126px;
  }
  .specArea {
    flex-direction: column;
    gap: 24px;
  }
  .enforceArea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
