.testArea {
  margin-top: 102px;
  flex: 1;
  background-color: var(--default-background);
  border-radius: 30px;
  border: 1px dashed var(--point-blue);
  padding: 30px;
  overflow: auto;

  -ms-overflow-style: none; /* IE와 Edge에서 스크롤바 숨기기 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}

.testArea::-webkit-scrollbar {
  display: none;
}

.controlButton {
  width: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  background-color: var(--point-blue);
  color: var(--default-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  transition: all 0.2s;
}

.controlButton:hover {
  transform: scale(1.01);
}
.controlButton.setStop {
  background-color: #444444;
}

.timer {
  margin-bottom: 24px;
  color: var(--default-gray);
  display: flex;
  gap: 18px;
}

.tableWrapper {
  margin-top: 18px;
}

.titleWrapper {
  background-color: rgba(85, 255, 221, 0.12);
  border-radius: 6px;
  color: var(--default-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 0;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
}

.ultimateWrapper {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.ultimateWrapper .title {
  color: var(--default-white);
  font-size: 16rem;
  font-weight: var(--weight-medium);
}

.table {
  margin-top: 18px;
}

.table li {
  display: flex;
  justify-content: space-between;
  gap: 1px;
}

.table li div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.thead {
  color: var(--default-white);
}

.tbody {
  color: var(--point-green);
  font-weight: var(--weight-bold);
}

.thead div {
  background-color: #0e1124;
}

.tbody div {
  background-color: #19243f;
}

.totalResultWrapper {
  margin-top: 24px;
  display: flex;
  padding: 0 16px;
}

.resultBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.resultBox .title {
  color: var(--default-white);
  font-size: 16rem;
  font-weight: var(--weight-medium);
}

.resultBox .result {
  color: var(--point-green);
  font-size: 16rem;
  font-weight: var(--weight-bold);
}

.finishArea {
  border: 1px solid var(--point-green);
  padding: 8px 36px;
  display: flex;
  justify-content: center;
  border-radius: 32px;
  background-color: var(--background-green);
  color: #fff;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin-bottom: 24px;
}

.testTimeInput {
  border: 1px solid var(--default-border);
  background-color: var(--default-background);
  height: 50px;
  border-radius: 14px;
  padding: 0 12px;
  font-size: var(--font-regular);
  line-height: var(--lineHeight-medium);
  font-weight: var(--weight-bold);
  color: var(--point-green);
  margin-top: 6px;
}

@media (max-width: 1420px) {
  .testArea {
    width: 100%;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .totalResultWrapper {
    flex-direction: column;
    gap: 24px;
  }

  .tableInner {
    overflow: auto;
  }
  .table {
    min-width: 768px;
  }
}
